node_modules/
dist/
.cache/
*.log
.dbg/

client/node_modules/
client/nodejs/
client/android/
client/.capacitor/

server/node_modules/
server/data/records/
server/data/experiments/
server/data/weather_history/
server/knowledge/user/_backups/
